# Node
node_modules/
npm-debug.log
pnpm-debug.log
yarn-error.log
dist/

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Logs
*.log
*.tmp

# Python (se usar)
__pycache__/
*.pyc
.venv/

# Sistema
.DS_Store
Thumbs.db
node_modules
dist
.env
*.log
.DS_Store
.vscode/*.code-workspace
